@{
  Layout = "_Layout";
}

<h1>Welcome to Pierres Sweet and Savory Bakery</h1>
<h4>We are not your typical Bakery, we create amazing flavor combinations!</h4>

<button>@Html.ActionLink("Explore Flavors", "Index", "Flavors")</button>
<button>@Html.ActionLink("Explore Treats", "Index", "Treats")</button>
<button>@Html.ActionLink("Create an Account", "Index", "Account")</button>
